section.section-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form {
  display: flex;
  flex-direction: column;
}

form.form label {
  margin-top: 10%;
  cursor: pointer;
  text-align: center;
  border-style: outset;
  background: lightgrey;
  height: 20px;
  border-radius: 10px;
  border-color: white;
}

form.form label.red {
  background-color: #ffc4c4;
}

form.form label.white {
  background-color: #ffffff;
}

form.form input.black-label {
  color: #000000;
}

form.form label.red-label {
  color: #ff0000;
}

.red-label {
  color: #ff0000 !important
}