section.section-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form {
  display: flex;
  flex-direction: column;
}

form.form label {
  margin-top: 10%;
  cursor: pointer;
  text-align: center;
  border-style: outset;
  background: lightgrey;
  height: 20px;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}